
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

#Gemini (LLM) 

GEMINI_API_KEY1=
GEMINI_API_KEY2=
GEMINI_API_KEY3=
GEMINI_API_KEY4=
GEMINI_MODEL=gemini-2.0-flash

#Whisper (STT)
WHISPER_MODEL_SIZE=base
WHISPER_DEVICE=cpu

#ElevenLabs (TTS)
ELEVENLABS_API_KEYS1=
ELEVENLABS_API_KEYS2=
ELEVENLABS_API_KEYS3=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=
